extends base.jade

block vars
	- var footer = false

block scripts
	script(type='text/javascript', src='/scripts/ConversationUI.js')
	script(type='text/javascript').
		new ConversationUI({
			id: #{user.id},
			username: '#{user.username}'
		}, {
			id: #{conversation.id},
			owner: #{conversation.OwnerId}
		});


block content
	img#cursor(width='100', height='57', src='/images/cursor-scaled.png')
	button#toggleCanvas.transparent.big
		i.material-icons gesture
		span Draw

	div#conversation
		section#messages
			header
				h1
					span#convName #{conversation.name}
					div#controls
						button#changeName.transparent
							i.material-icons edit
							span Change Name
						button#editMembers.transparent
							i.material-icons people
							span Members
			section#messagesContainer
				button#loadMore
					span Load More

		section#drawPanel
			div#scrollIt
				canvas#drawCanvas(height='640', width='960', style='width: 480px; height: 320px;')

				div#tools
					ul#colors
						li#white.colorTool
						li#grey.colorTool
						li#black.colorTool
						li#red.colorTool.active
						li#hotPink.colorTool
						li#yellow.colorTool
						li#blue.colorTool
						li#green.colorTool

					ul#images
						li#dolphin.big.stampTool
							img(src='/images/dolphin.png')
						li#hand.big.stampTool
							img(src='/images/hand.png')
						li#pizza.big.stampTool
							img(src='/images/pizza.png')
						li#gabe.big.stampTool
							img(src='/images/gabe.png')
						li#hotswap.big.stampTool
							img(src='/images/sciencerules.png')
						li#hotkey.big
							i.material-icons collections

					div#brushSize
						h3 Brush Size
						input#brushSizeRange(type='range', min='1', max='100', value='10')

			div#commands
				div(style='float: left;')
					// position: absolute; margin-left: -75px; left: 50%; width: 150px;
					button#stampIt.transparent.big
						i.material-icons image
						span Stamp It!
				div(style='float: right;')
					button#clear.transparent.big.borderRight
						i.material-icons clear
						span Clear
					button#send.iconOnly.transparent.big.highlight
						i.material-icons send
