extends base.jade

block vars
	- var footer = false

block scripts
	script(type='text/javascript', src='/scripts/SWConversationUI.js')

	if conversation.OwnerId
		script(type='text/javascript') var ownerId = #{conversation.OwnerId};
	else
		script(type='text/javascript') var ownerId = null;

	script(type='text/javascript').
		// TODO: This is an XSS vulnerability!
		new SWConversationUI({
			id: #{user.id},
			username: '#{user.username}'
		}, {
			id: #{conversation.id},
			owner: ownerId
		});


block content
	button#toggleCanvas.transparent.big
		i.material-icons gesture
		span Draw

	div#conversation
		section#messages
			header
				h1
					span#conversationName #{conversation.name}
					div#controls
						button#changeName.transparent.not-selectable
							i.material-icons edit
							span Change Name
						button#editMembers.transparent.not-selectable
							i.material-icons people
							span Members
			section#messagesContainer
				button#loadMore
					span Load More

		section#drawPanel
			div#scrollIt
				div#canvasContainer
					canvas#onionSkin(height='640', width='960', style='width: 480px; height: 320px;')
					canvas#drawCanvas(height='640', width='960', style='width: 480px; height: 320px;', tabindex='1')

				div#frames
					a#frame-1(data-frame='0').frame.selected 1

					button#addFrame.transparent.not-selectable
						i.material-icons add

					button#removeFrame.transparent.not-selectable
						i.material-icons remove

					button#toggleAnimation.transparent.not-selectable
						i.material-icons play_arrow

				div#tools
					ul#colors
						li#white.colorTool
						li#grey.colorTool
						li#black.colorTool
						li#hotPink.colorTool
						li#red.colorTool.active
						li#orange.colorTool
						li#yellow.colorTool
						li#blue.colorTool
						li#green.colorTool

					ul#images
						li#dolphin.big.stampTool
							img(src='/images/dolphin.png')
						li#hand.big.stampTool
							img(src='/images/hand.png')
						li#pizza.big.stampTool
							img(src='/images/pizza.png')
						li#gabe.big.stampTool
							img(src='/images/gabe.png')
						li#hotswap.big.stampTool
							img(src='/images/speech_bubble.png')
						li#hotkey.big
							i.material-icons collections

					div#brushSize
						h3 Brush Size
						input#brushSizeRange(type='range', min='1', max='100', value='10')

			div#commands
				div(style='float: left;')
					// position: absolute; margin-left: -75px; left: 50%; width: 150px;
					button#stampIt.transparent.big
						i.material-icons image
						span Stamp It!
				div(style='float: right;')
					button#clear.transparent.big.borderRight
						i.material-icons clear
						span Clear
					button#send.iconOnly.transparent.big.highlight
						i.material-icons send
